.advantages {
  padding-top: 110px;
  padding-bottom: 120px;

  background-color: #cfe4fb;
  background-image: url("../img/backgrounds/features_desktop.webp");
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/features_desktop@2x.webp");
  }

  @media (max-width: 1023px) {
    padding-top: 90px;
    padding-bottom: 100px;

    background-image: url("../img/backgrounds/features_tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/features_tablet@2x.webp");
    }
  }

  @media (max-width: 767px) {
    padding-top: 57px;
    padding-bottom: 65px;

    background-image: url("../img/backgrounds/features_mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/features_mobile@2x.webp");
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @media (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0 35px;

  list-style: none;

  gap: 40px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1023px) {
    padding: 0 20px;

    gap: 30px;
  }

  @media (max-width: 767px) {
    padding: 0;

    grid-template-columns: auto;
  }
}

.advantages__item {
  padding: 81px 32px 44px 30px;

  background-color: $color-alice-blue;
  background-repeat: no-repeat;
  background-position: 30px 30px;

  @media (max-width: 1023px) {
    padding: 71px 16px 20px 20px;

    background-position: 20px 26px;
  }

  @media (max-width: 767px) {
    background-position: 20px 25px;
  }

  &--lainer {
    background-image: url("../img/svg/lainer.svg");

    @media (max-width: 1023px) {
      background-size: 21px 26px;
    }
  }

  &--all-inclusive {
    background-image: url("../img/svg/all_inclusive.svg");

    @media (max-width: 1023px) {
      background-size: 27px 26px;
    }
  }

  &--boat {
    background-image: url("../img/svg/boat.svg");

    @media (max-width: 1023px) {
      background-size: 36px 26px;
    }
  }

  &--boat h3 {
    @media (max-width: 1023px) {
      margin-bottom: 18px;
    }

    @media (max-width: 767px) {
      margin-bottom: 8px;
    }
  }
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: 1023px) {
    line-height: 25px;
  }

  @media (max-width: 767px) {
    max-width: 200px;

    line-height: 25px;
  }
}

.advantages__item-text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
