.booking-form {
  max-width: 403px;
  padding: 44px 50px 50px 50px;

  background-color: $color-tangaroa;

  @media (max-width: 767px) {
    max-width: 100%;
    padding: 35px 30px 40px;
  }
}

.booking-form__input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.booking-form__title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;

  @media (max-width: 767px) {
    margin-bottom: 28px;

    line-height: 25px;
    text-align: center;
  }
}

.booking-form__input-wrapper input {
  width: 303px;
  height: 43px;
  margin-bottom: 20px;
  padding-left: 15px;

  background-color: $color-alice-blue;
  border: none;

  @media (max-width: 767px) {
    width: 100%;
  }
}


.booking-form__input-wrapper input::placeholder {
  font-size: 14px;
  line-height: 21px;
  color: rgba($color-tangaroa, 0.7);
}

.booking-form__submit-wrapper {
  display: flex;
  flex-direction: column;
}

.booking-form__btn {
  align-self: center;
  width: 100%;
  padding: 11px 50px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;

  &--modal {
    width: 100%;
    margin-right: 0;
    margin-bottom: 7px;
  }

  &:hover {
    background-color: $color-default-white;
  }

  &:active {
    opacity: 0.3;
  }
}
