.cruises {
  padding-top: 85px;
  padding-bottom: 120px;

  @media (max-width: 1023px) {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 57px;
    padding-bottom: 65px;
  }
}

.cruises__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cruises__title {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @media (max-width: 1023px) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: 767px) {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }
}

.cruises__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 30px;
  grid-template-columns: repeat(4, 260px);

  @media (max-width: 1365px) {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }

  @media (max-width: 1023px) {
    width: auto;
    grid-template-columns: repeat(2, 309px);
  }

  @media (max-width: 767px) {
    grid-template-columns: auto;
  }
}
