.footer {
  background-color: $color-tangaroa;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 1023px) {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
  }
}

.footer__logo {
  margin-right: 1.8%;
  margin-left: 35px;

  @media (max-width: 1023px) {
    margin-right: 2.5%;
    margin-left: 21px;
  }

  @media (max-width: 767px) {
    margin: 0;
    margin-bottom: 22px;
  }
}
