.header {
  padding-top: 35px;
  padding-bottom: 278px;

  color: $color-alice-blue;

  background-color: #3576c5;
  background-image: url("../img/backgrounds/main_desktop.png");
  background-size: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);


  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/main_desktop@2x.png");
  }

  @media (max-width: 1023px) {
    padding-top: 27px;
    padding-bottom: 255px;

    background-image: url("../img/backgrounds/main_tablet.png");
    box-shadow: none;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main_tablet@2x.png");
    }
  }

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 159px;

    background-image: url("../img/backgrounds/main_mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/main_mobile@2x.png");
    }
  }
}

.header__logo {
  margin-left: 35px;

  @media (max-width: 1023px) {
    margin-left: 21px;
  }

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__navigation {
  margin-left: auto;

  @media (max-width: 767px) {
    position: relative;

    display: none;
    flex-direction: column;

    background-color: $color-alice-blue;
  }
}

.header__toggle {
  position: absolute;
  top: 25px;
  right: 20px;

  display: none;
  width: 26px;
  height: 12px;

  background: 0 0;
  border: 0;

  @media (max-width: 767px) {
    display: block;
  }
}

.header.is-active .header__logo {
  display: none;
}

.header.no-js .header__toggle {
  display: none;
}

.header.is-active .header__toggle {
  top: 25px;
  right: 8px;
}

.header.no-js .header__navigation,
.header.is-active .header__navigation {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  padding: 85px 19% 300px 4%;

  background-image: url("../img/svg/logo_menu.svg");
  background-repeat: no-repeat;
  background-position-x: 6%;
  background-position-y: 20px;
}

.header__open-icon {
  display: block;
}

.header__close-icon {
  display: none;
}

.header.is-active .header__open-icon {
  display: none;
}

.header.is-active .header__close-icon {
  display: block;
}
