.map {
  width: 560px;
  height: 306px;
  margin-right: 100px;

  background-image: url("../img/backgrounds/map.webp");
  background-size: cover;

  @media (max-width: 1023px) {
    width: 324px;
    height: 335px;
    margin-right: 31px;
    margin-left: -8px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
  }

  @media (max-width: 374px) {
    width: 290px;
    height: 316px;
    margin-right: 0;
  }
}

.map iframe {
  width: 100%;
  height: 100%;

  border: none;
}
