.navigation-list {
  display: flex;
  margin: 0;
  margin-right: 18px;
  padding: 0;

  list-style: none;

  @media (max-width: 1023px) {
    margin-right: 5px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    margin-right: 0;
  }
}

.navigation-list__item {
  @media (max-width: 767px) {
    margin-bottom: 26px;
  }

  &--footer {
    @media (max-width: 767px) {
      margin-bottom: 8px;
    }
  }
}

.navigation-list__link {
  padding: 17px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;

  @media (max-width: 1023px) {
    padding: 13px;

    font-size: 14px;
    line-height: 17px;

    &--footer {
      margin-right: 10px;
      padding: 2px 7px;

      font-size: 12px;
      line-height: 15px;
    }
  }

  @media (max-width: 767px) {
    margin-bottom: 18px;
    padding: 10px;

    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;

    &--footer {
      padding: 7px 5px 5px 0;

      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $color-alice-blue;
    }
  }
}
