.social {
  flex-wrap: wrap;
  margin-left: auto;

  @media (max-width: 1370px) {
    margin-left: 24.9%;
  }

  @media (max-width: 1365px) {
    margin-left: auto;
  }

  @media (max-width: 770px) {
    margin-left: 7.7%;
  }

  @media (max-width: 767px) {
    margin-top: 9px;
    margin-left: -9px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  margin-right: 16px;

  @media (max-width: 1023px) {
    margin-right: 8px;
  }
}

.social__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.social__icon {
  position: absolute;

  @media (max-width: 1023px) {
    scale: 0.8;
  }
}
